<table>
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td>
            <%= form_tag("/foods/change_quantity/#{food.id}", method: "get") do %>
                <%= number_field_tag(:quantity, session[:cart]["#{food.id}"]["quantity"]) %>
                <%= submit_tag("Change Quantity") %>
            <% end %>
        </td>
        <td>
            <%= number_to_currency(food.price * session[:cart]["#{food.id}"]["quantity"].to_i) %>
        </td>
      </tr>
    <% end %>

</table>

<h3>Subtotal: <%= number_to_currency(@subtotal) %></h3>

<% if @totalTaxes %>
  <h3>Taxes(<%= number_with_precision(@taxRate, precision: 0) %>%): <%= number_to_currency(@totalTaxes) %></h3>
  <h2>Total: <%= number_to_currency(@total) %></h2>
<% else %>
  <h3>Register/Login to view taxes from your province/territory.</h3>
  <h2>Total: <%= number_to_currency(@total) %> Plus Taxes</h2>
<% end %>

<% if flash[:message] %>
  <h2 class="text-danger"><%= flash[:message] %></h2>
<% end %>

<% if session[:name] %>
  <div class="welcome">
    <%= button_to "Proceed to Checkout", '/foods/checkout' %>
  </div>
<% else %>
  <nav class="nav">
    <%= link_to "Login", "/user/login", class: "nav-link active" %>
    <%= link_to "Register", "/user/register", class: "nav-link active" %>
  </nav>
<% end %>