<!DOCTYPE html>
<html>
  <head>
    <title>FoodsWinnipeg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= link_to "Foods Winnipeg", root_path %></h1>

    <nav>
      <%= link_to "About", '/about' %> | 
      <%= link_to "Categories", '/categories' %> | 
      <%= link_to "Contact", '/contact' %>
    </nav>
    
    <%= yield %>
  </body>
</html>
