<!DOCTYPE html>
<html>
  <head>
    <title>FoodsWinnipeg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>

  <body>
    <h1><%= link_to "Foods Winnipeg", root_path %></h1>

    <nav>
      <%= link_to "Home", root_path %> | 
      <%= link_to "About", '/about' %> | 
      <%= link_to "Categories", '/categories' %> | 
      <%= link_to "Contact", '/contact' %>
    </nav>

    <div class="shoppingCart">
      <% if session[:cart].keys.count == 0 %>
        <i class="fas fa-shopping-cart fa-5x cartEmptyButton"></i>
      <% else %>
        <%= link_to '<i class="fas fa-shopping-cart fa-5x cartFilledButton"></i>'.html_safe, "/foods/show_cart" %>
      <% end %>
      <span class="cartCount"><%= session[:cart].keys.count %></span>
    </div>

    <!-- Search -->
    <div class="search">
      <%= form_tag("/foods/search_results/", method: "get") do %>
          <%= label_tag(:q, "Search for: ") %>
          <%= text_field_tag(:q) %>
          <%= label_tag(:category, "Category: ") %>
          <%= select_tag(:category, options_from_collection_for_select(@categories, 'id', 'name')) %>
          <%= submit_tag("Search") %>
      <% end %>
    </div>
    
    <%= yield %>
  </body>
</html>
